  /* ##########################################################################
     ==========================================================================
        Importación de la fuente de 2texto
     ==========================================================================
     ########################################################################## */

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Operator Mono';
    src: url('fonts/FontsFree-Net-OperatorMono-Bold.ttf') format('ttf');
    src: url('fonts/FontsFree-Net-OperatorMono-Bold.woff2') format('woff2');
    src: url('fonts/FontsFree-Net-OperatorMono-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: 'Operator Mono';
    src: url('fonts/FontsFree-Net-OperatorMono-BoldItalic.ttf') format('ttf');
    src: url('fonts/FontsFree-Net-OperatorMono-BoldItalic.woff2') format('woff2');
    src: url('fonts/FontsFree-Net-OperatorMono-BoldItalic.woff') format('woff');
    font-style: italic;
    font-weight: 900;
}
@font-face {
    font-family: 'Operator Mono';
    src: url('fonts/FontsFree-Net-OperatorMono-Book.ttf') format('ttf');
    src: url('fonts/FontsFree-Net-OperatorMono-Book.woff2') format('woff2');
    src: url('fonts/FontsFree-Net-OperatorMono-Book.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Operator Mono';
    src: url('fonts/FontsFree-Net-OperatorMono-BookItalic.ttf') format('ttf');
    src: url('fonts/FontsFree-Net-OperatorMono-BookItalic.woff2') format('woff2');
    src: url('fonts/FontsFree-Net-OperatorMono-BookItalic.woff') format('woff');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'Operator Mono';
    src: url('fonts/FontsFree-Net-OperatorMono-light.ttf') format('ttf');
    src: url('fonts/FontsFree-Net-OperatorMono-light.woff2') format('woff2');
    src: url('fonts/FontsFree-Net-OperatorMono-light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Operator Mono';
    src: url('fonts/FontsFree-Net-OperatorMono-Medium.ttf') format('ttf');
    src: url('fonts/FontsFree-Net-OperatorMono-Medium.woff2') format('woff2');
    src: url('fonts/FontsFree-Net-OperatorMono-Medium.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Operator Mono';
    src: url('fonts/FontsFree-Net-OperatorMono-XLight.ttf') format('ttf');
    src: url('fonts/FontsFree-Net-OperatorMono-XLight.woff2') format('woff2');
    src: url('fonts/FontsFree-Net-OperatorMono-XLight.woff') format('woff');
    font-style: normal;
    font-weight: 200;
}

* {
    font-family: 'Operator Mono', 'Courier Prime', monospace;
}





  /* ##########################################################################
     ==========================================================================
        Paleta de colores y valores constantes
     ==========================================================================
     ########################################################################## */

:root {
    --primary-color: #836b7f;
    --secondary-color: #c3c4a2;
    --back-color: #eee;
    --base-color: #9DA076;
    --detail-color: #c8b7be;
    --font: #333;
    --font-negative: #eee;
    --font-contrast: #666;
    --font-neg-contrast: #ddd;
}

html {
    background-color: var(--back-color);
}





  /* ##########################################################################
     ==========================================================================
        Normalización
     ==========================================================================
     ########################################################################## */

*, *::before, *::after  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

body  {
    overflow-x: hidden;
}

.i {
    font-weight: 400;
}





  /* ##########################################################################
     ==========================================================================
        Maquetación general
     ==========================================================================
     ########################################################################## */

main {
    width: 100%;
    display: grid;
    row-gap: 4em;
    margin: 4em auto;
    max-width: 1200px;
}

section {
    display: grid;
    row-gap: 2em;
}

.central {
    margin: 0 1em;
}

#idiagramaER {
    filter: drop-shadow(2px 2px 2px rgba(102, 102, 102, 0.61));
}

.titulo, .bloque_texto {
    width: calc(80% + 1px);
    padding: 2em;
    position: relative;
    box-shadow: 0px 4px 8px 1px #666;
}

.titulo {
    justify-self: start;

    background-color: var(--primary-color);
    color: var(--font);
    font-style: italic;
    text-align: center;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 3em;
    margin-left: -1px;
}
    .titulo h2 {
        color: var(--font-negative);
    }

.bloque_texto {
    justify-self: end;

    background-color: var(--secondary-color);
    text-align: justify;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 3em;
    margin-right: -1px;
}
    .bloque_texto p {
        line-height: 1.2em;
        margin-bottom: 0.7em;
    }

.titulo::after, .bloque_texto::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;

    width: calc(50vw - 600px + 1.5px);
    height: 100%;
    box-shadow: 0px 4px 8px 1px #666;
}
    .titulo::after {
        background-color: var(--primary-color);
        right: calc(100% - 1.5px);
    }

    .bloque_texto::after {
        background-color: var(--secondary-color);
        left: calc(100% - 1.5px);
    }

 /* ##### ajuste sombreado entre bloque y fill ##### */
.bloque_texto::before, .titulo::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;

    width: calc(50vw - 600px);
    height: 100%;
}
    .titulo::before {
        background-color: var(--primary-color);
        right: calc(100% - 1em);
    }

    .bloque_texto::before {
        background-color: var(--secondary-color);
        left: calc(100% - 1em);
    }

 /* ##### mediaquery ##### */
@media (max-width: 1200px) {
    .bloque_texto::after, .titulo::after, .bloque_texto::before, .titulo::before {
        display: none;
    }
}

 /* ##### redimensión de bloques ##### */
@media (max-width: 720px) {
    .bloque_texto {
        padding: 1em;
    }

    .titulo, .bloque_texto {
        width: calc(90% + 1px);
    }
}

 /* ##### ajuste de fuente en pantallas pequeñas ##### */
@media (max-width: 600px) {
    .bloque_texto p, .tabla_entidadrelacion p, .transformacion > p, .normas p {
        font-size: 0.815em;
    }

    .titulo {
        padding: 1em;
    }
}





  /* ##########################################################################
     ==========================================================================
        Estilos para la tabla
     ==========================================================================
     ########################################################################## */

.tabla_entidadrelacion {
    display: flex;
    position: relative;
    gap: 0.5em;
    max-width: 100%;
    flex-wrap: wrap;
    row-gap: 2em;
}

.tabla_component {
    flex-grow: 1;
}

.tabla_comp1, .tabla_comp2 {
    position: relative;
}

.gap_adapt::after, .gap_adapt2::after {
    content: ' ';
    z-index: 10;
    position: absolute;
    display: block;
    height: calc(100% + 1em);
    width: 1em;
    right: -1em;
    top: 0;
    margin: -0.5em 0;
    border-radius: 1em;
    background-color: var(--base-color);
    box-shadow: -1px 0px 5px var(--font-contrast), 1px 0px 5px var(--font-contrast);
}

.titulo_tabla {
    color: var(--font-negative);
    min-height: 70px;
    background-color: var(--base-color);
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 18px;
    border-radius: 1em;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 4px 8px #666;
}


.tn1 {
    color: var(--font-negative);
}

.tn1 p {
    background-color: var(--primary-color);
    color: var(--font-negative);
    z-index: 3;
    box-shadow: 0px 2px 3px #666, -4px 1px 3px #666;
}

.tn2 p {
    background-color: var(--detail-color);
    color: var(--font);
    margin-left: 2em;
    z-index: 2;
    box-shadow: 0px 2px 3px #666, -2px 1px 3px #666;
}

.tn3 p {
    background-color: var(--secondary-color);
    margin-left: 4em;
    z-index: 1;
    box-shadow: 0px 2px 3px #666, -1px 1px 3px #666;
}

.tn1, .tn2, .tn3 {
    position: relative;
}

.tn1 p, .tn2 p, .tn3 p {
    padding: 0em 1em;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 8px;
    line-height: 23px;
    font-weight: bolder;
    position: relative;
    overflow: hidden;
}
    .tn1 p i, .tn2 p i, .tn3 p i {
        font-weight: 400;
    }

 /* ##### linea separadora entre bloques ##### */
.tn1 p::before, .tn2 p::before, .tn3 p::before,
.tabla_comp2 .tn1 p::before,.tabla_comp2 .tn2 p::before,.tabla_comp2 .tn3 p::before {
    content: ' ';
    position: absolute;
    display: block;
    box-sizing: border-box;
    left: -21px;
    width: calc(100% + 21px);
    height: 100%;
    border-top: 1.5px solid var(--font-contrast);
    border-bottom-left-radius: 21px;
    border-top-left-radius: 5px;
}

 /* ##### mediaquery ##### */
@media (min-width: 818px) {
    .tabla_entidadrelacion {
        flex-wrap: nowrap;
    }

    .gap_adapt2::after {
        display: none;
    }

    .tabla_comp2 .tn2 p {
        margin-left: 0em;
        margin-right: 2em;
    }
    .tabla_comp2 .tn3 p {
        margin-left: 0em;
        margin-right: 4em;
    }
    .tabla_comp2 .tn1 p,.tabla_comp2 .tn2 p,.tabla_comp2 .tn3 p {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 8px;
        text-align: right;
    }

    .tabla_comp2 .tn1 p {
        box-shadow: 0px 2px 3px #666, 4px 1px 3px #666;
    }
    .tabla_comp2 .tn2 p {
        box-shadow: 0px 2px 3px #666, 2px 1px 3px #666;
    }
    .tabla_comp2 .tn3 p {
        box-shadow: 0px 2px 3px #666, 1px 1px 3px #666;
    }
}

@media (max-width: 600px) {
    .titulo_tabla {
        min-height: 30px;
        padding: 10px;
    }
    h3 {
        font-size: 1em;
    }
}

@media (max-width: 350px) {
    .tn2 p {
        margin-left: 1em;
    }
    .tn3 p {
        margin-left: 2em;
    }
}





  /* ##########################################################################
     ==========================================================================
        Estilos para la transformación
     ==========================================================================
     ########################################################################## */

.transformaciones {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;


}

.transformacion {
    display: grid;
    flex-grow: 1;
    gap: 0.5em;
    padding: 1em;

    background: var(--secondary-color);
    box-shadow: 2px 4px 8px #666, inset 0px 0px 10px 0px var(--base-color);
}

.transformacion, .relacion, .normas {
    border-radius: 1em;
}

.entidad-relacion, .flechas, .relacion {
    margin: 0 auto;
}

.entidad-relacion {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6em;
}
    .elemento {
        flex-grow: 1;
        position: relative;

    }
        .entidad, .interrelacion {
            padding: 1.5em 2em;
            filter: drop-shadow(3px 3px 6px var(--base-color));
            text-align: center;
        }
        .entidad {
            background-color: var(--detail-color);
            border: 1px solid var(--font);
        }
        .interrelacion {
            margin: auto 0;
            width: 100%;

            background-image: url("../media/rombo.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

        }

.relacion {
    background-color: var(--primary-color);
    box-shadow: 3px 3px 6px var(--base-color);
    width: 100%;
    padding: 0.5em 1em;
    color: var(--font-negative);
    display: flex;
    align-items: center;
    gap: 0.2em;
}
    .relacion p {
        display: inline-block;
    }
    .i {
        font-style: italic;
        font-weight: bold;
    }

.flechas {
    width: 2em;
    min-width: 2em;
}
    .flecha1, .flecha2, .flecha3 {
        fill: var(--primary-color);
    }

@media (min-width: 1200px) {
    .transformaciones {
        justify-self: center;
        max-width: 1400px;
        margin: 0 calc(-50vw + 600px + 1em);
    }
}





  /* ##########################################################################
     ==========================================================================
        Estilos para la transformación y normalización
     ==========================================================================
     ########################################################################## */

.normalizaciones {
    display: grid;
    gap: 3em;
    padding: 1em;
}

.normalizacion {
    display: grid;
    gap: 1em;
}

.tablas, .relaciones_tabla {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5em;
}

.relaciones_tabla {
    flex-wrap: wrap;  
    justify-content: center;
}
   @media (max-width: 987px) {
       .relaciones_tabla{
           flex-basis: min-content;
       }
   }

.relacion_tabla {
    max-width: 300px;
}

.rtt {
    flex-grow: 2;
}

.flechas_normalizacion {
    margin: 0;
    transform: rotate(-90deg);
}

.normas {
    background-color: var(--secondary-color);
    padding: 1em;
    box-shadow: 2px 4px 8px #666, inset 0px 0px 10px 0px var(--base-color);
}
    .normas h4 {
        background-color: var(--primary-color);
        color: var(--font-negative);
        padding: 0.5em 2em;
        margin: 0.5em;
        width: fit-content;
        border-radius: 20px 8px 20px 8px;
       box-shadow: 3px 3px 6px var(--base-color);
    }







  /* ##########################################################################
     ==========================================================================
        Mediaquery para diagrama relacional
     ==========================================================================
     ########################################################################## */

#drelacional_vertical {
    display: none;
}

@media (max-width: 750px){
    #drelacional_vertical {
        display: block;
    }
    #drelacional_horizontal {
        display: none;
    }
}









