  /* ##########################################################################
     ==========================================================================
        Importación de la fuente de 2texto
     ==========================================================================
     ########################################################################## */


@font-face {
    font-family: 'Operator Mono';
    src: url('fonts/FontsFree-Net-OperatorMono-Bold.woff2') format('woff2');
    src: url('fonts/FontsFree-Net-OperatorMono-Bold.woff') format('woff');
    src: url('fonts/FontsFree-Net-OperatorMono-Bold.ttf') format('ttf');
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: 'Operator Mono';
    src: url('fonts/FontsFree-Net-OperatorMono-BoldItalic.woff2') format('woff2');
    src: url('fonts/FontsFree-Net-OperatorMono-BoldItalic.woff') format('woff');
    src: url('fonts/FontsFree-Net-OperatorMono-BoldItalic.ttf') format('ttf');
    font-style: italic;
    font-weight: 900;
}
@font-face {
    font-family: 'Operator Mono';
    src: url('fonts/FontsFree-Net-OperatorMono-Book.woff2') format('woff2');
    src: url('fonts/FontsFree-Net-OperatorMono-Book.woff') format('woff');
    src: url('fonts/FontsFree-Net-OperatorMono-Book.ttf') format('ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Operator Mono';
    src: url('fonts/FontsFree-Net-OperatorMono-BookItalic.woff2') format('woff2');
    src: url('fonts/FontsFree-Net-OperatorMono-BookItalic.woff') format('woff');
    src: url('fonts/FontsFree-Net-OperatorMono-BookItalic.ttf') format('ttf');
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'Operator Mono';
    src: url('fonts/FontsFree-Net-OperatorMono-light.woff2') format('woff2');
    src: url('fonts/FontsFree-Net-OperatorMono-light.woff') format('woff');
    src: url('fonts/FontsFree-Net-OperatorMono-light.ttf') format('ttf');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Operator Mono';
    src: url('fonts/FontsFree-Net-OperatorMono-Medium.woff2') format('woff2');
    src: url('fonts/FontsFree-Net-OperatorMono-Medium.woff') format('woff');
    src: url('fonts/FontsFree-Net-OperatorMono-Medium.ttf') format('ttf');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Operator Mono';
    src: url('fonts/FontsFree-Net-OperatorMono-XLight.woff2') format('woff2');
    src: url('fonts/FontsFree-Net-OperatorMono-XLight.woff') format('woff');
    src: url('fonts/FontsFree-Net-OperatorMono-XLight.ttf') format('ttf');
    font-style: normal;
    font-weight: 200;
}

* {
    font-family: 'Operator Mono';
}

  /* ##########################################################################
     ==========================================================================
        Paleta de colores y valores constantes
     ========================================================================== ########################################################################## */

:root {
    --primary-color: #836b7f;
    --secondary-color: #c3c4a2;
    --back-color: #eee;
    --base-color: #9DA076;
    --detail-color: #c8b7be;
    --font: #333;
    --font-negative: #eee;
    --font-contrast: #666;
    --font-neg-contrast: #ddd;
}

  /* ##########################################################################
     ==========================================================================
        Normalización
     ==========================================================================
     ########################################################################## */
    
*, *::before, *::after  {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}

body  {
    overflow-x: hidden;
}

            /* ROMBO */
      /* width: 100px; height: 100px; background: #428bca; border: 3px solid #555; transform: rotate(135deg) skew(15deg, 15deg); display: inline-block; margin: 0px 0; */

  /* ##########################################################################
     ==========================================================================
        Maquetación general
     ========================================================================== 
     ########################################################################## */

main {
    max-width: calc(1200px + 2em);
    margin: 4em auto;

    display: grid;
    row-gap: 4em;
}

section {
    display: grid;
    row-gap: 2em;
    margin: 0 1em;
}

.titulo, .bloque_texto {
    width: 80%;
    padding: 2em;
}

.titulo {
    justify-self: start;

    background-color: var(--primary-color);
    color: var(--font);
    font-size: 1.3em;
    font-style: italic;
    text-align: center;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 3em;
}
    .titulo h2 {
        color: var(--font-negative);
    }

.bloque_texto {
    justify-self: end;

    background-color: var(--secondary-color);
    text-align: justify;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 3em;
}

  /* ==========================================================================
        Estilos para la tabla
     ========================================================================== */

.tabla_entidadrelacion {
    display: flex;
    position: relative;
    gap: 0.5em;
    max-width: 100%;
}

.tabla_comp1 {
    position: relative;
}

.gap_adapt::after {
    content: ' ';
    z-index: 10;
    position: absolute;
    display: block;
    height: calc(100% + 1em);
    width: 1em;
    right: -1em;
    top: 0;
    margin: -0.5em 0;
    border-radius: 1em;
    background-color: var(--base-color);
    box-shadow: -1px 0px 5px var(--font-contrast), 1px 0px 5px var(--font-contrast);
}

.titulo_tabla {
    color: var(--font);
    min-height: 70px;
    background-color: var(--secondary-color);
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 18px;
    border-radius: 1em;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 5px #666,  inset 10px 10px 30px var(--base-color), inset -5px -5px 50px var(--base-color);
}


.tn1 {
    color: var(--font-negative);
}

.tn1 p {
    background-color: var(--primary-color);
    color: var(--font-negative);
    z-index: 3;
    box-shadow: 0px 2px 3px #666, -4px 1px 3px #666;
}

.tn2 p {
    background-color: var(--detail-color);
    color: var(--font);
    margin-left: 2em;
    z-index: 2;
    box-shadow: 0px 2px 3px #666, -2px 1px 3px #666;
}
    /* mediaquery */.tabla_comp2 .tn2 p {
        margin-left: 0em;
        margin-right: 2em;
    }

.tn3 p {
    background-color: var(--secondary-color);
    margin-left: 4em;
    z-index: 1;
    box-shadow: 0px 2px 3px #666, -1px 1px 3px #666;
}
    /* mediaquery */.tabla_comp2 .tn3 p {
        margin-left: 0em;
        margin-right: 4em;
    }
.tn1, .tn2, .tn3 {
    position: relative;
}

.tn1 p, .tn2 p, .tn3 p {
    padding: 0em 1em;
    border-bottom-left-radius: 21px;
    border-top-left-radius: 5px;
    line-height: 23px;
    position: relative;
    overflow: hidden;
}

.tn1 p::before, .tn2 p::before, .tn3 p::before,
.tabla_comp2 .tn1 p::before,.tabla_comp2 .tn2 p::before,.tabla_comp2 .tn3 p::before {
    content: ' ';
    position: absolute;
    display: block;
    box-sizing: border-box;
    left: -21px;
    width: calc(100% + 21px);
    height: 100%;
    border-top: 1.5px solid var(--font-contrast);
    border-bottom-left-radius: 21px;
    border-top-left-radius: 5px;
} 

    /* mediaquery */.tabla_comp2 .tn1 p,.tabla_comp2 .tn2 p,.tabla_comp2 .tn3 p {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 5px;
        text-align: right;
    }

    /* mediaquery */.tabla_comp2 .tn1 p {
        box-shadow: 0px 2px 3px #666, 4px 1px 3px #666;
    }
    /* mediaquery */.tabla_comp2 .tn2 p {
        box-shadow: 0px 2px 3px #666, 2px 1px 3px #666;
    }
    /* mediaquery */.tabla_comp2 .tn3 p {
        box-shadow: 0px 2px 3px #666, 1px 1px 3px #666;
    }